@charset "utf-8";
body {
	margin: 0;
	padding: 0;
}
#container {
	width: 100%;
	height: 100%;
	display: table;
}
#position {
	display: table-cell;
}
#content { 
	position: absolute;
	left: 60%;
	top: 78%;
}
#main {
	background-image: url("img/petals.gif");
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none
}
#bg {
	position: absolute;
	width: 100%;
	height: 100%;
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
	z-index: -1;
}
#pink2 {
	position: absolute;
	left: 81%;
	top: 45%;
}
#bunny{
	position: absolute;
	left: 2.5%;
	bottom: 5%;
}
	a:link {
	color: #09F;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	text-decoration: none;
	color: #09F;
}
a:hover {
	text-decoration: none;
	color: #0CF;
}
a:active {
	text-decoration: none;
	color: #06F;
}
#counter{
	color: rgba(255, 255, 255, 0);
	position: absolute;
	right: 8px;
	bottom: 8px;
	font-size: 12pt;
}
#counter:hover{
	color: rgba(255, 255, 255, 1);
}	
}